@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

/* hero section start  */
.hero-container {
    background-color: #4c7bad;
    position: relative;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container::after {
    content: "";
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 9%;
}
.left-text h1 {
    font-size: 48px;
    font-weight: bold;
}
.left-text p {
    font-size: 18px;
    font-weight: thin;
    font-style: oblique;
    padding-bottom: 15px;
}

.bannerimg {
    width: auto;
    height: 480px;
}

.bannerimg img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

@media (max-width: 567px) {
    .hero-container::after {
        content: "";
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        height: 4%;
    }

    .left-text h1 {
        font-size: 2rem;
        padding-top: 25px;
        color: white;
    }
    .bannerimg {
        width: auto;
        height: 500px;
    }

    .bannerimg img {
        width: auto;
        height: 230px;
        object-fit: cover;
    }
    .midcard{
        margin: 45px 0px;
    }

    section {
        padding-top: 20px;
        padding-bottom: 80px;
    }
}
@media (max-width: 768px) {
    .left-text h1 {
        font-size: 2rem;
        padding-top: 70px;
        color: white;
    }
    .left-text p {
        font-size: 16px;
        color: white;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

/* /* hero section end   */

.headtext {
    color: var(--secBrand);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}
.serviceicon {
    color: var(--brand);
    font-size: 60px;
}
.serviceicon:hover {
    color: var(--secBrand);
}

/* card design  */

.card {
    transition: all 0.3s ease-in-out;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #91afd4;
}

.card-body {
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.card-body i {
    font-size: 48px;
    color: #007bff;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    color: #6c757d;
}
:root {
    --brand: #58c4f2;
    --dark: #092032;
    --secBrand: #fed700;
    --body: #516171;
    --border: rgba(0, 0, 0, 0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.8s ease;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: gray;
}

/* section {
    padding-top: 80px;
    padding-bottom: 80px;
} */

.text-brand {
    color: var(--brand) !important;
}

/* navbar */
.logo {
    width: 100px;
}

.logo img {
    width: 100%;
    height: auto;
}

.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--secBrand);
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: var(--secBrand);
    border-color: var(--secBrand);
    color: #fff;
}

.intro {
    margin-bottom: 36px;
    text-align: center;
}

.intro p {
    max-width: 500px;
}
.intro h6 {
    color: var(--secBrand);
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}

/* project or case section  */
.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.project h4 {
    color: #fff;
}
.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* team section  start */

.team-member {
    text-align: center;
}

.team-member .image {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 205, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {
    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)),
        url("https://img.freepik.com/premium-photo/man-with-bicycle-sitting-grass_1048944-6385532.jpg?w=826"), #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}

footer {
    background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)),
        url("https://img.freepik.com/free-photo/young-adult-helping-disabled-friend_23-2149433086.jpg?t=st=1713332908~exp=1713336508~hmac=f1ee420326d5912001dfbad0b2f1fa0d9645740f06092230d3275eda0a557562&w=740"),
        #082032;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #adb3b9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secBrand);
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}

input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}

/* grid image */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.item1 {
    grid-area: 1 / 1 / 2 / 2;
}
.item2 {
    grid-area: 1 / 2 / 2 / 3;
}
.item3 {
    grid-area: 2 / 1 / 3 / 2;
}
.item4 {
    grid-area: 2 / 2 / 3 / 3;
}

/* webkit scroll bar color */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #58c4f2;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#fed700, #016492);
    border-radius: 10px;
}

/* card shows  */
/* .clip-top {
    clip-path: polygon(51% 81%, 0% 100%, 100% 100%);
  } */
  .card-container {
    position: relative;
  }
  
  .pentagon {
    clip-path: polygon(50% 79%, 0% 100%, 100% 100%);
    position:absolute;
    background:var(--brand);
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 0;
}
.card{
    border-top-left-radius:0;
    border-top-right-radius:0;
}
  
  



  
